@use "sass:map";
@use '../../styles/abstract/site-colours' as colours;

.scouts-nav-bar {
  & {
    background-color: map.get(colours.$colours, purple);
  }

  &-sub-menu {
    background-color: map.get(colours.$colours, purple-dark);

    #app-settings-gear {
      color: map.get(colours.$colours, white);
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 3px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .scouts-nav-link {
    color: white;
    text-decoration: none;

    &:hover {
    }

    * {
      color: white;
    }
  }
}

