@use 'sass:map';
@use '../abstract/site-colours' as colours;

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid map.get(colours.$colours, purple);
  border-color: map.get(colours.$colours, purple) transparent map.get(colours.$colours, purple) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}