$colours: (
        white: white,
        black: black,
        purple: #7413dc,
        purple-dark: #320070,
        blue: #006ddf,
        yellow: #ffe627,
        pink: #ffb4e5,
        green: #25b755,
        red: #ed3f23,
        grey-light: #F7F7F7,
        grey-dark: #D5D5D5,
        grey-darker: #929292,
        groups: (
                squirrels: #ed3f23,
                beavers: #006ddf,
                cubs: #25b755,
                scouts: #088486,
                explorers: #003982,
                network: #ff912a,
        )
)