$colour-scouts-purple: #7413dc;
$colour-scouts-red: #ed3f23;
$colour-scouts-navy: #003982;
$colour-scouts-green: #25b755;
$colour-scouts-yellow: #ffe627;
$colour-scouts-orange: #ff912a;
$colour-scouts-pink: #ffb4e5;
$colour-scouts-teal: #088486;
$colour-scouts-gray40: #999999;

$colour-coins-20: #FBD130;
$colour-coins-10: #F2F2F2;
$colour-coins-5: #F25C7F;
