<img id="site-image" src="images/cropped-Linear-Black-2.png"/>
<h3>COINS</h3>
<div class="row">
    <div class="col-6 offset-3" style="margin-bottom: 2em">
        <input id="scout-code-textbox"
               type="text"
               data-bind="textInput: scoutCode, valueUpdate: 'keyup', event: { keypress: onScoutCodeFieldKepPressed }"
               class="form-control"
               placeholder="Click here and scan scout code"
               autocomplete="off"
               style="background-color: white"/>
    </div>
    <div class="col-3">
        <button class="btn btn-primary">&#128247;</button>
    </div>
    
    <div id="modal" title="Barcode scanner">
        <span class="found"></span>
        <div id="interactive" class="viewport"></div>
    </div>

    <!-- ko if:showUserSection -->
    <hr/>

    <div class="col-6">
        <h4 data-bind="text: scoutName"></h4>
        <span data-bind="text: scoutTroopNumberAndSection" style="display:block; text-align: center"></span>
        <img id="scout-photo" data-bind="attr: { src:scoutPhotoPath }"/>
    </div>

    <div class="col-6">
        <h4>Scan</h4>

        <div class="row" style="margin-bottom: 1em">
            <div class="col-12">
                <input id="coin-textbox"
                       type="text"
                       data-bind="textInput: lastScannedCoinCode, valueUpdate: 'keyup', event: { keypress: onCoinCodeFieldKepPressed }, enable: scanCoinFieldEnabled"
                       class="form-control"
                       placeholder="Click here and scan a new coin"
                       autocomplete="off"
                       style="background-color: white"/>
            </div>
        </div>

        <div data-bind="foreach: scannedCoins" style="margin-bottom: 2em; min-height: 10em;text-align: center; border: 1px solid lightgray; padding: 1em;">
            <span class="tag label label-info">
                <span data-bind="text:displayText"></span>
                <span id="remove-score">
                    <i data-bind="click: function() { $parent.confirmRemovePoint($data) } " class="remove">&#10060;</i>
                </span>
            </span>
        </div>

        <span>
            <b>Total:&nbsp;</b><span data-bind="text: totalPoints"></span>
        </span>
        <hr/>

        <button class="btn btn-success float-end" data-bind="click: function() { confirmSubmit() }">Finished</button>
    </div>
    <!-- /ko -->
</div>


<div class="toast-container position-absolute top-0 end-0">
    <div class="toast text-white bg-primary" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="2000">
        <div class="toast-header">
            <strong class="mr-auto">Error</strong>
        </div>
        <div class="toast-body" data-bind="text: errorMessage">
        </div>
    </div>
</div>