@use "sass:map";
@use '../../../../styles/abstract/site-colours' as colours;

#summary-haul-page {
  #congrats-text {
    font-size: 3.4em;
  }

  #added-points-text {
    font-size: 2em;
  }

  #head-back-out-text {
    font-size: 1.5em;
  }

  #haul-summary-tally-total-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    height: 240px;
    width: 500px;
    margin: 10px;
    display: inline-block;
    padding: 6px 25px;
    font-weight: bold;
    font-size: 2em;
    box-shadow: 0 0 0 5px #088486,  inset 0 0 0 1px #fff;

    * {
      color: white !important;
    }

    em {
      font-size: 1.3em;
    }
  }

  .btn-next-member {
    border: none;
    font-size: 2.3em;
    padding: 4px 22px;
    background-color: map.get(colours.$colours, yellow);
  }
}
