html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

img#site-image {
    width:240px;
    margin:0 auto;
    display: block;
    margin-top: 1em;
    border-bottom: 1px solid lightgray;
}

img#scout-photo {
    width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 0.3em;
}

h3 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

h4 {
    text-align: center;
}
    
input {
    text-align: center;
}

/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
    background-color: dodgerblue;
    color: white;
    display:inline-block;
    margin-bottom: 1em;
}
.tag span#remove-score {    
    cursor: pointer;
    opacity: 0.6;
}
.tag span#remove-score:hover {
    opacity: 1.0
}
.tag .remove {
    vertical-align: bottom;
    top: 0;
    color: red;
    font-style: normal;
}
.tag span#remove-score {
    margin: 0 0 0 .3em;
}