@use 'site.variables' as variables;
@use 'site.reset' as reset;

@use 'site.spinner' as spinner;
@use 'site.controls' as controls;
@use 'site.coins' as coins;
@use 'site.scrollbars' as scrollbars;
@use 'site.tables' as tables;
@use 'site.report' as report;
@use 'site.typography' as typography;

#site-header {
  img {
    width: 256px;
  }

  nav {
    color: white;
    background-color: variables.$colour-scouts-purple;
  }

  li a {
    color: white !important;
  }

  div {
    background-color: variables.$colour-scouts-purple;
    color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: calc(2.75rem + 1.5vw);
}

#site-container {
  padding-top:3em;
}

.menu-item-active {
  text-decoration: underline;
}

.show-user-photo-icon, .edit-user-photo-icon {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.qr-code-scanner-container video {
  border: 0.2em solid variables.$colour-scouts-purple;
  background-color: black;
}

.photo-webcam {
  video {
    width: 100% !important;
  }
}

.btn-next-member {
  border: none;
}

