@use "sass:map";
@use '../styles/abstract/site-colours' as colours;

.scouts-navbar {
  min-height: 100px;
  height: auto;
  $left-right-column-width: 200px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  & {
    background-color: map.get(colours.$colours, purple);
  }

  #left-column {
    width: $left-right-column-width;
    text-align: center;
    height: 100%;

    #member-details {
      * {
        color: map.get(colours.$colours, white);
        text-align: left;
        line-height: 1em;
      }

      div:first-child {
        font-size: 2em;
        margin-top: 15px;
      }

      div:nth-child(2) {
        font-size: 1.2em;
        margin-top: 5px;
      }
    }
  }

  #middle-column {
    flex-shrink: 0;
    text-align: center;
  }

  #right-column {
    width: $left-right-column-width;
    text-align: center;
  }

  &-sub-menu {
    background-color: map.get(colours.$colours, purple-dark);

    #app-settings-gear {
      color: map.get(colours.$colours, white);
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 3px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .scouts-nav-link {
    color: white;
    text-decoration: none;

    &:hover {
    }

    * {
      color: white;
    }
  }
}

