@use "sass:map";
@use "./../../styles/abstract/_site-mixins" as mixins;
@use "./../../styles/abstract/_site-colours" as colours;

#latest-scans-page {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 920px;

  .card {
    background-color: map.get(colours.$colours, grey-light);
    height: 450px;
    display: flex;
    flex-direction: column;

    .card-body {
      width: 240px;
    }
  }

  * {
    color: black;
    font-style: italic;
    text-align: center;
  }

  img {
    border-radius: 50% !important;
    object-fit: contain;
  }

  .col * {
    width: 100%;
  }

  .first-name {
    font-size: 20px;
  }

  .points {
    font-size: 40px;
    font-weight: bold;
    line-height: 0.7;
    &::before {
      content: '+'
    }
  }

  .time {
    font-size: 12px;
  }

  .group {
    div {
      @include mixins.rounded-borders;
    }
  }
}