.app-shell {
    .scouts-colours-blue {
        background-color: #006ddf;
    }

    .scouts-colours-yellow {
        background-color: #ffe627;
    }

    .scouts-colours-pink {
        background-color: #ffb4e5;
    }

    .scouts-colours-green {
        background-color: #25b755;
    }

    .scouts-colours-red {
        background-color: #ed3f23;
    }

    .scouts-colours-grey-light {
        background-color: #D5D5D5;
    }

    .scouts-colours-grey-dark {
        background-color: #F7F7F7;
    }

    .scouts-colours-groups-squirrels {
        background-color: #ed3f23;
    }

    .scouts-colours-groups-beavers {
        background-color: #006ddf;
    }

    .scouts-colours-groups-cubs {
        background-color: #25b755;
    }

    .scouts-colours-groups-scouts {
        background-color: #088486;
    }

    .scouts-colours-groups-explorers {
        background-color: #003982;
    }

    .scouts-colours-groups-network {
        background-color: #ff912a;
    }

    .scouts-colours-menu-header {
        background-color: #7413dc;
    }

    .scouts-colours-menu-header-darker {
        background-color: #320070;
    }

    .scouts-borders-white {
        border: 1px solid white;
        border-radius: 5px;
    }
}